

#navBar{
    background-color: #FFE600;
}
#btnSearch{
    background-color: #EEEEEE;
}

#searchBar{
    font-size:18px;
    background: white;
    color: #333333;
}
/* BREADCRUMB STYLE  */
#breadcrumb{
    --bs-breadcrumb-divider: '>';
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
}

/* ITEMS LIST   */
#container-list-items{
    background: white;
}

.imgList{
    width: 180px;
    height: 180px;
    padding: 16px;
    float: left;
}


/*  */

.lbl-price{
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.lbl-title{
    font-size: 18px;
}

.lbl-right{
    font-size: 12px;
    float: right;
    padding-top: 4%;
    margin-right: 10%;
}







